<h2>Create Pokemon</h2>
<!-- Creation. -->
<form action="/pokemons" method="post" >

  <p>Name: <input name="pokemon[name]"></p>
  <p>Power: <input name="pokemon[cp]"></p>
  <p>Type: <input name="pokemon[poke_type]"></p>

  <input type="submit" value="Create">
</form>

<!-- For Deleting. -->
<!-- If take the bottom code out then this page will function for creating pokemon but almost done.  -->


<h2>Delete</h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>