<h2>Create Pokemon</h2>

<form action="/pokemons" method="post" >

  <p>Name: <input name="pokemon[name]"></p>
  <p>Power: <input name="pokemon[cp]"></p>
  <p>Type: <input name="pokemon[poke_type]"></p>

  <input type="submit" value="Create">
</form>