<form action="/pokemons" method="post" >
  <label>Pokemon Name:</label>
  <input name="name">

  <label>Pokemon Type:</label>
  <input name="poke_type">

  <input type="submit" value="Create">
</form>