<form action="/pokemons" method="post" >

  <p>Name: <input name="pokemon[name]"></p>
  <p>Power: <input name="pokemon[cp]"></p>
  <p>Type: <input name="pokemon[poke_type]"></p>

  <input type="submit" value="Update">
</form>

<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="pokemon[name]">Name:</label>
  <input name="pokemon[name]" value="<%= @pokemon.name %>">

  <label for="pokemon[cp]">cp:</label>
  <input name="pokemon[cp]" value="<%= @pokemon.cp %>">

  <label for="pokemon[poke_type]">Type:</label>
  <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">

  <input type="submit" value="Update">
</form>