<h1>Pokemon Statistics</h1>

<div class="pokemon">

<p>Pokemon Name: <%= @pokemon.name %></p>
<p>Pokemon Power: <%= @pokemon.cp %></p>
<p>Pokemon Type: <%= @pokemon.poke_type %></p>
<img src="<%= @pokemon.img_url %>">
	
</div>